/*
    Document   : default.css
    Created on : Feb 6, 2013, 6:34:10 PM
    Author     : dmasi
    Description:
        Default mvc stylesheet setup.
        Take note of sticky footer.  All content except footer must go in wrapper.
*/
html, body {
    height: 100%;
    font-family: 'Times New Roman',Times,serif;
}

body {
    background: white;
}

a {
    text-decoration: none;
}

p {
    text-indent: 2em;
}

.header {
    background: #7EB5D6;
    padding: 2%;
}

.header span {
    color: black;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-align: right;
    vertical-align: middle;
}

.navigation {
    background: #2A75A9;
    color: white;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    padding: 1%;
}

.navigation a, a:link {
    color: white;
}

.navigation a:hover, a:visited, a:active {
    color: white;
}

.navigation span {
    padding: 0% 2%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.content {
    margin: 0 auto;
    padding-left: 3%;
    width: 50%;
}

.content h1 {
    color: #644436;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    padding: 2% 0% 1% 0%;
}

.content p {
    padding: 1%;
    line-height: 1.25em;
    border: 0.1em solid #DFC184;
}

.footer, .push {
    background: #274257;
    height: 60px; /* .push must be the same height as .footer */
}